.header__logo {
  margin: 0;
  padding: 45px 0 40px;
}

@media screen and (max-width: 900px){
  .header__logo {
    padding: 45px 27px 40px;
  }
}

@media screen and (max-width: 650px){
  .header__logo {
    padding: 28px 27px 31.6px;
    width: 103.74px;
    height: 24.4px;
  }
}
