.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  transition: opacity .3s ease;
  align-self: center;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}
