.popup__field {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 358px;
}

@media screen and (max-width: 505px) {
  .popup__field {
    width: 238px;
  }
}
