.popup__submit-btn {
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  width: 100%;
  margin-top: 15px;
  transition: opacity 0.5s ease;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 505px) {
  .popup__submit-btn {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
