.profile__information {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  max-width: 505px;
}

@media screen and (max-width: 680px) {
  .profile__information {
    justify-items: center;
    grid-template-areas:
    ". avatar ."
    ". title btn"
    " . subtitle .";
    grid-template-columns: 1fr 189px 1fr;
    grid-template-rows: 140px 1fr min-content;
    max-width: 282px;
  }
}
